body {
  margin: 0;
  color: #D4ECDD;
  overflow: hidden;

  font-family: 'Stick No Bills', sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}